*{
	box-sizing:border-box;
}
body{
	font-family:sans-serif;
}
header{
	display:flex;
	justify-content:center;
	background-color:#120323;
	color:#97bf04;	
}
header img{
	max-width:157px;
}
header h1{
	margin-top:50px;
}

#container{
	display:flex;
	flex-direction:row;
	margin-top:20px;
	margin-bottom:20px;
}
main{
	flex:3;
	padding:0px;
}
aside{
	flex:1;
	background-color:#97bf04;
}
figure img{

	border:4px solid #d9043d;
}
figure{
	display:flex;
}
figcaption{
	width:100%;
	margin-left:20px;
}
footer{
	background-color:#d9043d;
	color:white;
	text-align:center;
	padding:20px;
}
@media screen and (min-width:1000px){
    main img{
	max-width:300px;
	max-height:300px;
	border:2px solid red;
}   
}
@media (min-width: 769px) and (max-width:999px){
	#container{
	display:block;
    }
    main img{
	max-width:300px;
	max-height:300px;
	border:2px solid red;
}
}
@media screen and (max-width:768px){
	header{
		display:block;
		justify-content:center;
		text-align:center;
	}
	header h1{
		margin-top:0px;
	}
	#container{
	display:block;
    }
    figure{
	display:block;
    }
    main img{
	max-width:100%;
	max-height:100%;
	border:2px solid red;
}
}



